<section class="brands-slider">
    <div class="container brands-slider-container js_brands-slider">
        <a href="#" class="brands-slider-item">
            <img src="assets/images/Brands/armani.png" alt="">
        </a>
        <a href="#" class="brands-slider-item">
            <img src="assets/images/Brands/SCHWARZKOPF.png" alt="">
        </a>
        <a href="#" class="brands-slider-item">
            <img src="assets/images/Brands/VERSACE.png" alt="">
        </a>
        <a href="#" class="brands-slider-item">
            <img src="assets/images/Brands/armani.png" alt="">
        </a>
        <a href="#" class="brands-slider-item">
            <img src="assets/images/Brands/SCHWARZKOPF.png" alt="">
        </a>
        <a href="#" class="brands-slider-item">
            <img src="assets/images/Brands/VERSACE.png" alt="">
        </a>
        <a href="#" class="brands-slider-item">
            <img src="assets/images/Brands/armani.png" alt="">
        </a>
        <a href="#" class="brands-slider-item">
            <img src="assets/images/Brands/SCHWARZKOPF.png" alt="">
        </a>
        <a href="#" class="brands-slider-item">
            <img src="assets/images/Brands/VERSACE.png" alt="">
        </a>
        <a href="#" class="brands-slider-item">
            <img src="assets/images/Brands/SCHWARZKOPF.png" alt="">
        </a>
        <a href="#" class="brands-slider-item">
            <img src="assets/images/Brands/SCHWARZKOPF.png" alt="">
        </a>
        <a href="#" class="brands-slider-item">
            <img src="assets/images/Brands/VERSACE.png" alt="">
        </a>
        <a href="#" class="brands-slider-item">
            <img src="assets/images/Brands/armani.png" alt="">
        </a>
        <a href="#" class="brands-slider-item">
            <img src="assets/images/Brands/SCHWARZKOPF.png" alt="">
        </a>
    </div>
</section>