<footer class="footer">
    <div class="footer-half-section">
        <ul class="footer-nav">
            <li><a href="#">ДОСТАВКА</a></li>
            <li><a href="#">ПРЕДЗАКАЗ ТОВАРОВ</a></li>
            <li><a href="#">ОПЛАТА</a></li>
            <li><a href="#">АКЦИИ</a></li>
            <li><a href="#">КОНТАКТЫ</a></li>
        </ul>
        <div class="footer-half__bottom">
            <a href="#" class="footer-logo"></a>

            <address class="footer-address">
                <div class="footer-address__phones">
                    <a href="tel:+375293930707">(29) 393 07 07</a>
                    <a href="tel:+375293930707">(29) 393 07 07</a>
                </div>
                <div class="footer-address__info">г.Минск, пер.Липковский, 34, 2 этаж, офис №69</div>
                <div class="footer-address__shcedule">9:00—17:00, без выходных</div>
            </address>

            <div class="footer-social">
                <a href="#" class="footer-social__insta"></a>
                <a href="#" class="footer-social__fb"></a>
                <a href="#" class="footer-social__vk"></a>
            </div>
        </div>
    </div>
    <div class="footer-half-section">
        <div class="footer-subscribe-info">Получать лучшие предложения, купоны, участвовать в акциях</div>
        <form action="" method="post" name="footer-subscribe" class="footer-subscribe">
            <input type="email" name="" placeholder="E-mail">
            <span>Я</span>
            <select name="subscribe_sex">
                <option value="Женщина">Женщина</option>
                <option value="Мужчина">Мужчина</option>
            </select>
            <input type="submit" value="Подписаться">
        </form>
        <div class="footer-registration">
            Свидетельство о регистрации Мингорисполкомом от 12 июля 2017 в Едином государственном регистре юридических
            лиц и индивидуальных предпринимателей №192941390 Внесен в торговый реестр 21 июля 2017г. №387851
        </div>
    </div>
</footer>

<div class="up-btn"></div>

<script src="assets/js/libs.js"></script>
<script src="assets/js/main.js"></script>