<header class="header">
    <div class="header-top">
        <div class="header-top__side">
            Оригинальная парфюмерия в Беларуси

            <a href="#" class="header-top__version">другая версия</a>
        </div>
        <div class="header-top__side">
            <svg class="header-top__phone-ico">
                <use xlink:href='#svg-telegram' href='#svg-telegram'/>
            </svg>
            <svg class="header-top__phone-ico">
                <use xlink:href='#svg-viber' href='#svg-viber'/>
            </svg>
            <a href="tel:+375259387109" class="header-top__phone">+375 25 938-71-09</a>
            <span class="header-top__schedule">Пн-Вс с 10:00 до 20:00</span>
        </div>
    </div>
    <div class="header-bottom">
        <a href="/" class="header-logo">
            <svg class="header-logo__svg">
                <use xlink:href='#svg-logo' href='#svg-logo'/>
            </svg>
        </a>
        <ul class="header-nav">
            <li>
                <a href="#">
                    <svg class="header-nav__img">
                        <use xlink:href='#svg-nav-male' href='#svg-nav-male'/>
                    </svg>
                    Для мужчин
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="header-nav__img">
                        <use xlink:href='#svg-nav-female' href='#svg-nav-female'/>
                    </svg>
                    Для Женщин
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="header-nav__img">
                        <use xlink:href='#svg-nav-brands' href='#svg-nav-brands'/>
                    </svg>
                    Бренды
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="header-nav__img">
                        <use xlink:href='#svg-nav-sales' href='#svg-nav-sales'/>
                    </svg>
                    Акции
                </a>
            </li>
        </ul>
        <form action="" method="post" name="" class="search">
            <input type="text" name="search" class="search__field"
                   placeholder="Давайте найдем аромат, более 2500 товаров…">
            <button type="reset" class="search__reset">
                <svg class="search__reset-svg">
                    <use xlink:href='#svg-close' href='#svg-close'/>
                </svg>
            </button>
            <button type="submit" value="" class="search__submit">
                <svg class="search__submit-svg">
                    <use xlink:href='#svg-magnifier' href='#svg-magnifier'/>
                </svg>
            </button>
        </form>

        <a href="#" class="header-basket">
            <div class="header-basket__img">
                <svg class="header-basket__svg">
                    <use xlink:href='#svg-header-basket' href='#svg-header-basket'/>
                </svg>
            </div>
            <div class="header-basket__desktop">
                Корзина
                <span class="header-basket__desktop-subtitle">
                    <span class="header-basket__count">2</span> товара <b>240 р</b>
                </span>
            </div>
        </a>

        <!-- миникарта будет отображаться только при наличии .header-basket-minicard__item -->
        <div class="header-basket-minicard">
            <div class="header-basket-minicard-inner">
                <div class="header-basket-minicard-items">
                    <div class="header-basket-minicard__item">
                        <div class="header-basket-minicard__img">
                            <img src="assets/images/Temp/minicard-img.png" alt="">
                        </div>
                        <div class="header-basket-minicard__description">
                            <div class="header-basket-minicard__title">Etro PEGASO Unisex</div>
                            <div class="header-basket-minicard__info">50 ml <span>1 шт.</span></div>
                            <div class="header-basket-minicard__price">80 руб.</div>
                        </div>
                        <div class="header-basket-minicard__close"></div>
                    </div>
                    <div class="header-basket-minicard__item">
                        <div class="header-basket-minicard__img">
                            <img src="assets/images/Temp/minicard-img.png" alt="">
                        </div>
                        <div class="header-basket-minicard__description">
                            <div class="header-basket-minicard__title">Etro PEGASO Unisex</div>
                            <div class="header-basket-minicard__info">50 ml <span>1 шт.</span></div>
                            <div class="header-basket-minicard__price">80 руб.</div>
                        </div>
                        <div class="header-basket-minicard__close"></div>
                    </div>
                </div>
                <a href="#" class="btn header-basket-minicard__lnk theme_red">Оформить заказ</a>
            </div>
        </div>
    </div>
    <div class="search-result">
        <div class="search-result__corner"></div>
        <div class="search-result-titles container">
            <div class="search-result__title">Возможно вы ищете</div>

            <div class="search-result-titles-inner">
                <a href="#" class="search-result-titles__item btn">Tom Ford CHAMPACA ABSOLUTE Unisex</a>
                <a href="#" class="search-result-titles__item btn">Tom Ford CHAMPACA ABSOLUTE Unisex</a>
                <a href="#" class="search-result-titles__item btn">Tom Ford CHAMPACA ABSOLUTE Unisex</a>
                <a href="#" class="search-result-titles__item btn">Tom Ford CHAMPACA ABSOLUTE Unisex</a>
                <a href="#" class="search-result-titles__item btn">Tom Ford CHAMPACA ABSOLUTE Unisex</a>
            </div>
        </div>
        <div class="search-result-products container">
            <div class="search-result__title">Товары</div>

            <div class="products-slider-container js_product-slider">
                <a href="#" class="products-slider-item">
                    <div class="product-slider__img">
                        <div class="product-slider__label-sale">-30%</div>
                        <img src="assets/images/Temp/sliders/pr-sl-1.png" alt="">
                    </div>
                    <div class="product-slider__brand">Tom Ford</div>
                    <div class="product-slider__title">Tom Ford CHAMPACA <br> ABSOLUTE Unisex</div>
                    <div class="product-slider__price">от <span>80 руб.</span></div>
                </a>
                <a href="#" class="products-slider-item">
                    <div class="product-slider__img">
                        <div class="product-slider__label-sale">-30%</div>
                        <img src="assets/images/Temp/sliders/pr-sl-3.png" alt="">
                    </div>
                    <div class="product-slider__brand">Tom Ford</div>
                    <div class="product-slider__title">Tom Ford CHAMPACA <br> ABSOLUTE Unisex</div>
                    <div class="product-slider__price">от <span>80 руб.</span></div>
                </a>
                <a href="#" class="products-slider-item sale">
                    <div class="product-slider__img">
                        <div class="product-slider__label-sale">-30%</div>
                        <img src="assets/images/Temp/sliders/pr-sl-2.png" alt="">
                    </div>
                    <div class="product-slider__brand">Tom Ford</div>
                    <div class="product-slider__title">Tom Ford CHAMPACA <br> ABSOLUTE Unisex</div>
                    <div class="product-slider__price">от <span>80 руб.</span></div>
                </a>
                <a href="#" class="products-slider-item">
                    <div class="product-slider__img">
                        <div class="product-slider__label-sale">-30%</div>
                        <img src="assets/images/Temp/sliders/pr-sl-1.png" alt="">
                    </div>
                    <div class="product-slider__brand">Tom Ford</div>
                    <div class="product-slider__title">Tom Ford CHAMPACA <br> ABSOLUTE Unisex</div>
                    <div class="product-slider__price">от <span>80 руб.</span></div>
                </a>
                <a href="#" class="products-slider-item">
                    <div class="product-slider__img">
                        <div class="product-slider__label-sale">-30%</div>
                        <img src="assets/images/Temp/sliders/pr-sl-2.png" alt="">
                    </div>
                    <div class="product-slider__brand">Tom Ford</div>
                    <div class="product-slider__title">Tom Ford CHAMPACA <br> ABSOLUTE Unisex</div>
                    <div class="product-slider__price">от <span>80 руб.</span></div>
                </a>
                <a href="#" class="products-slider-item sale">
                    <div class="product-slider__img">
                        <div class="product-slider__label-sale">-30%</div>
                        <img src="assets/images/Temp/sliders/pr-sl-3.png" alt="">
                    </div>
                    <div class="product-slider__brand">Tom Ford</div>
                    <div class="product-slider__title">Tom Ford CHAMPACA <br> ABSOLUTE Unisex</div>
                    <div class="product-slider__price">от <span>80 руб.</span></div>
                </a>
                <a href="#" class="products-slider-item sale">
                    <div class="product-slider__img">
                        <div class="product-slider__label-sale">-30%</div>
                        <img src="assets/images/Temp/sliders/pr-sl-3.png" alt="">
                    </div>
                    <div class="product-slider__brand">Tom Ford</div>
                    <div class="product-slider__title">Tom Ford CHAMPACA <br> ABSOLUTE Unisex</div>
                    <div class="product-slider__price">от <span>80 руб.</span></div>
                </a>
            </div>
        </div>
        <div class="container search-result-btn-wrap">
            <a href="#" class="search-result__show-btn btn theme_black">смотреть все 123</a>
        </div>
    </div>
</header>