<header class="header">
    <div class="header-top">
        <div class="header-top__side">
            Оригинальная парфюмерия в Беларуси

            <a href="#" class="header-top__version">другая версия</a>
        </div>
        <div class="header-top__side">
            <span class="telegram-icon header-top__phone-ico"></span>
            <span class="viber-icon header-top__phone-ico"></span>
            <a href="tel:+375259387109" class="header-top__phone">+375 25 938-71-09</a>
            <span class="header-top__schedule">Пн-Вс с 10:00 до 20:00</span>
        </div>
    </div>
    <div class="header-bottom">
        <a href="/" class="header-logo"></a>
        <ul class="header-nav">
            <li>
                <a href="#">
                    <img src="assets/images/male.png" class="header-nav__img">
                    Для мужчин
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/venus.png" class="header-nav__img">
                    Для Женщин
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/brands.png" class="header-nav__img">
                    Бренды
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/discount.png" class="header-nav__img">
                    Акции
                </a>
            </li>
        </ul>
        <form action="" method="post" name="" class="search">
            <input type="text" name="search" class="search__field" placeholder="Давайте найдем аромат, более 2500 товаров…">
            <input type="reset" class="search__reset">
            <input type="submit" value="" class="search__submit">
        </form>

        <!-- добавь класс empty для пустой корзины -->
        <div class="header-basket empty">
            <div class="header-basket__img">
                <div class="header-basket__count">3</div>
            </div>
            <div class="header-basket__empty">
                Корзина
                <span class="header-basket__empty-subtitle">пока тут пусто</span>
            </div>
        </div>
    </div>
</header>