@import "plugins/reset.less";
@import "plugins/slick/slick.less";
@import "plugins/slick/slick-theme.less";
@import "plugins/fancybox/jquery.fancybox.less";
@import "plugins/select2.less";
@import "fonts.less";
@import "variables.less";
@import "mixins.less";
@import "global.less";

/* - - - - - - - - - - - - - - - - header - - - - - - - - - - - - - - - -*/
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10000;
}

.header-top {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 4px 38px 3px;
}

.header-bottom {
  padding: 0 40px;
  background: @main-color;
  color: #fff;
  position: relative;
}

.header-top__side {
  font-family: Roboto, sans-serif;
  .fsz(10);
  font-weight: 300;
  display: flex;
  align-items: baseline;
}

.header-top__phone {
  font-family: Montserrat, sans-serif;
  .fsz(12);
  font-weight: bold;
}

.header-top__schedule {
  color: fade(@main-color, 50%);
  margin-left: 6px;
  margin-right: 8px;
}

.header-top__phone-ico {
  height: 16px;
  width: 16px;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 4px;
}

.header-bottom {
  display: flex;
  align-items: center;
}

.header-bottom-left, .header-bottom-right {
  display: flex;
  align-items: center;
}

.header-bottom-right {
  flex-grow: 1;
}

.header-logo__svg {
  width: 170px;
  height: 32px;
  fill: #fff;
}

.header-nav {
  list-style: none;
  margin-left: 13px;
  margin-right: 27px;
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    height: 67px;
    padding: 0 10px;
    transition: @transition;
    font-weight: bold;
    .fsz(11);
    color: #fff;

    &:hover {
      background: fade(#fff, 10%);
      border: none;
    }
  }
}

.header-nav-mobile {
  display: none;
}

.header-mobile-btn {
  margin-right: 11px;
  cursor: pointer;
  display: none;
  width: 49px;
  height: 51px;
}

.header-mobile-btn__ico {
  stroke: #fff;
  width: 32px;
  height: 32px;
  margin-left: 11px;
}

.header-nav__img {
  margin-right: 6px;
  width: 14px;
  height: 14px;
  fill: #fff;
}

.search {
  display: flex;
  align-items: center;
  flex-grow: 1;
  position: relative;
}

.search__field {
  height: 32px;
  display: inline-block;
  padding: 0 40px 0 20px;
  color: @main-color;
  width: 100%;
  .fsz(13);
  font-family: Roboto, sans-serif;
  font-weight: 300;
  margin-right: 40px;
}

.search__field::-webkit-input-placeholder {
  color: @gray17;
}

.search__field:-moz-placeholder {
  color: @gray17;
}

.search__field::-moz-placeholder {
  color: @gray17;
}

.search__field:-ms-input-placeholder {
  color: @gray17;
}

.search__submit {
  position: absolute;
  right: 40px;
  top: 0;
  width: 31px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search__submit-svg {
  fill: @main-color;
  width: 16px;
  height: 16px;
}

.search__reset {
  position: absolute;
  right: 10px;
  top: 0;
  width: 31px;
  height: 32px;
  padding: 0;
  font-size: 0;
  visibility: hidden;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__reset-svg {
  width: 15px;
  height: 16px;
  fill: #fff;
  stroke: #fff;
}

.header-basket {
  white-space: nowrap;
  display: flex;
  border: 1px solid #fff;
  position: relative;
}

.header-basket-minicard {
  position: absolute;
  top: ~"calc(100% - 18px)";
  right: 40px;
  width: 320px;
  padding-top: 15px;
  display: none;
  z-index: 1010;

  &.active {
    display: block;
  }
}

.header-basket-minicard-inner {
  background: #fff;
  color: @main-color;
  position: relative;
  padding: 17px 18px 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  &::after {
    content: "";
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    top: -11px;
    right: 97px;
  }
}

.header-basket-minicard__lnk {
  width: 100%;

  &:hover {
    box-shadow: 0 4px 4px fade(@red, 25%);
  }
}

.header-basket-minicard__item {
  display: flex;
  padding-bottom: 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid #C4C4C4;
  position: relative;

  &:last-of-type {
    margin-bottom: 20px;
  }
}

.header-basket-minicard__img {
  flex: none;
  width: 60px;
  height: 60px;
  margin-right: 5px;

  img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }
}

.header-basket-minicard__description {
  flex-grow: 1;
}

.header-basket-minicard__title {
  padding-right: 20px;
  font-weight: 500;
  .fsz(13);
  .lh(19);
  color: @red;
  margin-bottom: 4px;
  white-space: normal;
}

.header-basket-minicard__info {
  .fsz(11);
  .lh(16);
  font-weight: 500;
  color: fade(@main-color, 50%);
  margin-bottom: 10px;

  span {
    color: @main-color;
  }
}

.header-basket-minicard__price {
  .fsz(16);
  font-weight: bold;
}

.header-basket-minicard__close {
  position: relative;
  width: 21px;
  height: 21px;
  transform: rotate(45deg);
  cursor: pointer;

  &::before, &::after {
    content: "";
    width: 16px;
    height: 2px;
    background-color: #C4C4C4;
    position: absolute;
    top: 9px;
    left: 2px;
  }

  &::after {
    transform: rotate(90deg);
  }

  &:hover {
    &::before, &::after {
      background: @red;
    }
  }
}

.header-basket__img {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 30px;
  position: relative;
  border-right: 1px solid #fff;
}

.header-basket__svg {
  fill: #fff;
  width: 15px;
  height: 16px;
}

.header-basket__desktop-subtitle {
  display: block;
  white-space: nowrap;
}

.header-basket__desktop {
  padding: 0 21px 0 8px;
  font-weight: 500;
  .fsz(13);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-basket__desktop-subtitle {
  font-family: Roboto, sans-serif;
  .fsz(10);
  font-weight: 300;
}

.header-bottom-search-btn {
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;

  &.active {
    .search-btn__svg-magnifier {
      display: none;
    }

    .search-btn__svg-close {
      display: block;
    }
  }
}

.search-btn__svg-magnifier {
  fill: #fff;
  width: 18px;
  height: 18px;
}

.search-btn__svg-close {
  stroke: #fff;
  width: 15px;
  height: 16px;
  display: none;
}

/* - - - - - - - - - - - - - - - - search-result - - - - - - - - - - - - - - - -*/
.search-result {
  position: fixed;
  left: 0;
  right: 0;
  top: 194px;
  background: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 23px 0 28px;
  z-index: -1000;
  transition: top 0.3s, z-index 0.2s, opacity 0.2s;
  opacity: 0;
  pointer-events: none;

  &.active {
    top: 94px;
    z-index: 1000;
    opacity: 1;
    pointer-events: auto;
  }

  .search-result-products {
    margin-bottom: 10px;
  }
}

.search-result__corner {
  content: "";
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  top: -11px;
  left: 50%;
  margin-left: -5px;
}

.search-result-titles {
  margin-bottom: 19px;
}

.search-result__title {
  .fsz(10);
  font-weight: 500;
  text-transform: uppercase;
  color: fade(@main-color, 50%);
  margin-bottom: 10px;
}

.search-result-titles__item {
  padding: 0 9px;
  height: 32px;
  line-height: 30px;
  .fsz(11);
  border: 1px solid #C4C4C4;
  white-space: nowrap;
  margin-right: 6px;
  margin-bottom: 10px;
  display: inline-block;
}

.search-result-btn-wrap {
  text-align: center;
}

.search-result__show-btn {
  height: 32px;
  line-height: 32px;
  white-space: nowrap;
  font-weight: 500;
  .fsz(14);
}

/* - - - - - - - - - - - - - - - - breadcrumbs - - - - - - - - - - - - - - - -*/
.breadcrumbs {
  margin-bottom: 12px;
}

.breadcrumbs__item {
  list-style: none;
  display: inline;
  vertical-align: top;
  font-family: Roboto, sans-serif;
  .fsz(10);
  .lh(14);
  color: @black17;
  font-weight: 300;

  .active {
    opacity: 0.5;
  }

  &::after {
    content: "";
    background: url("../images/breadcrumb-arrow.svg") 50% 50% no-repeat;
    padding: 0 8px;
  }

  &:last-of-type {
    &::after {
      display: none;
    }
  }
}

.mobile-filter, .back-btn {
  display: none;
}

/* - - - - - - - - - - - - - - - - main-top - - - - - - - - - - - - - - - -*/
.main-top {
  padding-top: 27px;
  padding-bottom: 17px;
}

.main-top-container {
  display: flex;
  justify-content: space-between;
}

.main-top-filter {
  flex: none;
  display: flex;
  align-self: flex-end;
}

.main-top-filter__item {
  list-style: none;
  margin-left: 20px;
  font-weight: 500;
  .lh(15);
  .fsz(10);
  color: @black17;

  .active {
    opacity: 0.5;
  }

  &:first-of-type {
    margin-left: 0;
  }
}

/* - - - - - - - - - - - - - - - - images-nav - - - - - - - - - - - - - - - -*/
.images-nav {
  background-color: @main-color;
  min-height: 406px;
  display: flex;
}

.images-nav__big {
  width: 72.2%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 25px 2.942% 20px;
}

.images-nav__big-info {
  width: 37.12%;
  min-width: 343px;
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: 300;
  font-family: Roboto, sans-serif;

  p {
    .fsz(13);
    margin-bottom: 30px;
    .lh(18);
  }
}

.images-nav__big-title {
  font-weight: 900;
  .fsz(36);
  font-family: "Montserrat", sans-serif;
  margin-bottom: 12px;
}

.images-nav__big-subtitle {
  .fsz(18);
  .lh(25);
  margin-bottom: 17px;
}

.images-nav__svg {
  width: 14px;
  height: 12px;
  display: inline-block;
  margin-left: 6px;
}

.images-nav__double {
  display: flex;
  flex-direction: column;
  width: 27.8%;
  min-width: 356px;
}

.images-nav__link {
  height: 50%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  color: #fff;
  font-weight: 500;
  .fsz(16);
  .lh(23);
  display: flex;
  align-items: center;
  padding: 35px;
}

.images-nav__double-women {
  background-color: @red;
  background-position: 100% 0;
  padding-top: 18px;
}

.images-nav__double-men {
  background-color: @blue;
  justify-content: flex-end;
  padding-right: 30px;
  padding-bottom: 17px;

  .images-nav__svg {
    margin-left: 0;
  }
}

.images-nav__double-title {
  padding-right: 24px;
}

/* - - - - - - - - - - - - - - - - products-slider - - - - - - - - - - - - - - - -*/
.products-slider {
  padding: 30px 0;
}

.products-slider-container {
  display: flex; //remove this for slider
}

.products-slider-item {
  padding: 48px 10px 37px;
  text-align: center;
  border: 1px solid transparent;
  flex-basis: 100/6%;

  &:hover {
    border-color: @main-color;

    .product-slider__title {
      color: @red;
      border-bottom: 1px solid @red;
    }
  }

  &.sale {
    .product-slider__label-sale {
      display: block;
    }

    .product-slider__price span {
      color: @red;
    }
  }
}

.product-slider__img {
  position: relative;
  margin-bottom: 5px;
  height: 131px;

  img {
    width: auto;
    margin: 0 auto;
    max-height: 100%;
  }
}

.product-slider__label-sale {
  min-width: 37px;
  height: 37px;
  padding: 3px;
  border-radius: 50%;
  background: @red;
  color: #fff;
  .lh(31);
  .fsz(10);
  font-weight: bold;
  position: absolute;
  top: -23px;
  left: 10px;
  display: none;
}

.product-slider__brand {
  font-family: Roboto, sans-serif;
  .fsz(10);
  color: @black17;
  .lh(14);
  margin-bottom: 2px;
  font-weight: bold;
}

.product-slider__title {
  .lh(20);
  .fsz(14);
  display: inline;
}

.product-slider__price {
  .fsz(10);
  margin-top: 11px;
  span {
    .fsz(18);
    font-weight: bold;
  }
}

/* - - - - - - - - - - - - - - - - category - - - - - - - - - - - - - - - -*/
.category {
  padding: 30px 0 8px;
  border-bottom: 2px solid #e5e5e5;
}

.category-container {
  display: flex;
}

.category-main {
  font-size: 0;

  .product-item {
    width: 20%;
    margin-bottom: 11px;
  }
}

.category-banner {
  float: right;
  width: 40%;
  padding-left: 10px;
}

.product-item {
  padding: 48px 10px 37px;
  text-align: center;
  border: 1px solid transparent;
  display: inline-block;
  vertical-align: top;

  &:hover {
    border-color: @main-color;

    .product-item__title {
      color: @red;
      border-bottom: 1px solid @red;
    }
  }

  &.sale {
    .product-item__label-sale {
      display: block;
    }

    .product-item__price span {
      color: @red;
    }
  }
}

.product-item__img {
  position: relative;
  margin-bottom: 5px;
  height: 131px;

  img {
    width: auto;
    margin: 0 auto;
    max-height: 100%;
  }
}

.product-item__label-sale {
  min-width: 37px;
  height: 37px;
  padding: 3px;
  border-radius: 50%;
  background: @red;
  color: #fff;
  .lh(31);
  .fsz(10);
  font-weight: bold;
  position: absolute;
  top: -23px;
  left: 10px;
  display: none;
}

.product-item__brand {
  font-family: Roboto, sans-serif;
  .fsz(10);
  color: @black17;
  .lh(14);
  margin-bottom: 2px;
  font-weight: bold;
}

.product-item__title {
  .lh(20);
  .fsz(14);
  display: inline;
}

.product-item__price {
  .fsz(10);
  margin-top: 11px;
  span {
    .fsz(18);
    font-weight: bold;
  }
}

/* - - - - - - - - - - - - - - - - aside-filter - - - - - - - - - - - - - - - -*/
.aside-filter {
  width: 200px;
  flex: none;
}

.aside-close {
  width: 49px;
  height: 49px;
  align-items: center;
  position: relative;
  display: none;

  &::after, &::before {
    content: "";
    width: 17px;
    height: 1px;
    background: @main-color;
    transform: rotate(45deg);
    left: 50%;
    margin-left: -8px;
    position: absolute;
  }

  &::after {
    transform: rotate(135deg);
  }
}

/* - - - - - - - - - - - - - - - - articles-slider - - - - - - - - - - - - - - - -*/
.articles-slider {
  padding: 30px 0 45px;

  .slick-list {
    margin-right: -20px;
  }

  .slick-slide {
    margin-right: 20px;
  }
}

.articles-slider-item:hover {
  .articles-slider__title {
    color: @red;
    border-bottom: 1px solid @red;
  }
}

.articles-slider__img {
  margin-bottom: 18px;
  font-size: 0;
}

.articles-slider__date {
  color: @black17;
  text-transform: uppercase;
  .fsz(10);
  font-weight: bold;
  font-family: Roboto, sans-serif;
  margin-bottom: 12px;
}

.articles-slider__title {
  .fsz(16);
  .lh(23);
  margin-bottom: 4px;
  display: inline;
  border-bottom: 1px solid transparent;
}

.articles-slider__description {
  font-family: Roboto, sans-serif;
  .fsz(13);
  .lh(18);
  font-weight: 300;
  max-height: 54px;
  overflow: hidden;
}

/* - - - - - - - - - - - - - - - - brands-slider - - - - - - - - - - - - - - - -*/
.brands-slider {
  font-size: 0;
  line-height: 0;
  padding: 34px 0 11px;

  .slick-slide {
    margin-right: 5px;
  }
}

.brands-slider-item {
  height: 60px;
  padding: 4px;
  margin-bottom: 25px;
  border: 1px solid transparent;
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: relative;

  &:hover {
    border-color: @main-color;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }
}

/* - - - - - - - - - - - - - - - - footer - - - - - - - - - - - - - - - -*/
.footer {
  background: @main-color;
  color: #fff;
  padding: 20px 40px 18px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-half-section {
  max-width: 565px;

  &:last-of-type {
    max-width: 488px;
  }
}

.footer-nav {
  list-style: none;
  margin-bottom: 26px;
  margin-top: 19px;

  li {
    display: inline-block;
    vertical-align: top;
    margin-right: 26px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  a {
    .lh(16);
    .fsz(11);
    font-weight: 500;
    white-space: nowrap;
    color: #fff;

    &:hover {
      border-color: #fff;
    }
  }
}

.footer-logo {
  margin-right: 40px;
}

.footer-logo__svg {
  width: 170px;
  height: 32px;
  fill: fade(#fff, 50%);
}

.footer-address {
  margin-right: 28px;
}

.footer-address__phones {
  margin-bottom: 8px;

  a {
    .fsz(13);
    font-weight: 500;
    margin-right: 18px;
    color: #fff;

    &:hover {
      border: none;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.footer-half__bottom {
  display: flex;
}

.footer-address__info {
  font-family: Roboto, sans-serif;
  .fsz(10);
  font-weight: 300;
  margin-bottom: 5px;
}

.footer-address__shcedule {
  font-family: Roboto, sans-serif;
  .fsz(10);
  font-weight: 300;
  color: fade(#fff, 50%);
}

.footer-social {
  a {
    margin-right: 14px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.footer-social__svg {
  fill: #fff;
  width: 24px;
  height: 16px;
}

.footer-subscribe-info {
  font-weight: 300;
  .fsz(10);
  margin-bottom: 10px;
}

.footer-subscribe {
  display: flex;
  margin-bottom: 15px;

  .select2-container .select2-choice > .select2-chosen {
    line-height: 32px;
    color: @black17;
    font-family: Roboto, sans-serif;
    .fsz(13);
    font-weight: 300;
  }

  .select2-container .select2-choice {
    padding-left: 14px;
  }
}

.footer-subscribe__email {
  flex-grow: 1;
  padding: 0 14px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  .fsz(13);

  &::-webkit-input-placeholder {
    color: fade(@black17, 30%);
  }
  &:-moz-placeholder {
    color: fade(@black17, 30%);
  }
  &::-moz-placeholder {
    color: fade(@black17, 30%);
  }
  &:-ms-input-placeholder {
    color: fade(@black17, 30%);
  }
}

.footer-subscribe__deliver {
  font-weight: 300;
  .fsz(14);
  padding: 0 8px;
  line-height: 32px;
}

.footer-subscribe__submit {
  height: 32px;
  line-height: 30px;
  border: 1px solid #FFFFFF;
  font-weight: 500;
  .fsz(14);
  padding: 0 16px;
  background: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.footer-registration {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: fade(#fff, 50%);
  .fsz(10);
  .lh(14);
}

.footer-subscribe__sex {
  margin-right: 5px;
  max-width: 115px;
}

/* - - - - - - - - - - - - - - - - up-btn - - - - - - - - - - - - - - - -*/
.up-btn {
  position: fixed;
  right: 50px;
  bottom: 80px;
  cursor: pointer;
  transition: box-shadow @transition;
  border-radius: 50%;
  font-size: 0;

  &:hover {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
  }
}

.up-btn__svg {
  width: 50px;
  height: 50px;
}

.page-overlay {
  position: fixed;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 0;
  background: fade(@main-color, 70%);
  z-index: 5000;
  display: none;

  &.active {
    display: block;
  }
}

/* - - - - - - - - - - - - - - - - modifiers - - - - - - - - - - - - - - - -*/
.theme_white {
  background: #fff;
  color: @main-color;
}

.theme_red {
  background: @red;
  color: #fff;
}

.theme_black {
  background: @main-color;
  color: #fff;
}

.theme-bg_gray {
  background-color: #EDEDED;
}

.svg-theme_black {
  fill: @main-color;
}

.svg-theme_white {
  fill: #fff;
}

.bg-theme_gray {
  background: #EDEDED;
}