@import "variables.less";
@import "mixins.less";

@media all and (max-width: 1300px) {
  .slick-next {
    right: 5px;
  }

  .slick-prev {
    left: 5px;
  }

  .products-slider-container .slick-slide {
    margin-right: 5px;
  }
}

@media all and (max-width: 1200px) {
  .header-basket, .header-basket__img {
    border: none;
  }

  .header-basket__desktop {
    display: none;
  }

  .header-basket__svg {
    width: 19px;
    height: 20px;
  }

  .header-basket__count {
    display: inline-block;
    text-align: center;
    height: 14px;
    border-radius: 14px;
    line-height: 14px;
    color: #ffff;
    background-color: @red;
    font-weight: bold;
    .fsz(9);
    padding-left: 4px;
    padding-right: 4px;
    white-space: nowrap;
    position: absolute;
    top: -3px;
    right: 4px;
  }

  .search {
    display: none;
  }

  .header-bottom {
    justify-content: space-between;
    height: 67px;
  }

  .header-bottom-right {
    flex: none;
    margin-left: 27px;

    &.active {
      flex-grow: 1;
    }
  }

  .search__submit {
    right: 4px;
  }

  .header-basket-minicard, .header-basket-minicard.active {
    display: none;
  }

  .header-bottom-search-btn {
    display: flex;
  }

  .products-slider-container {
    flex-wrap: wrap;
  }

  .products-slider-item {
    flex-basis: 33.33%;
  }

  .footer-nav {
    display: none;
  }

  .footer-half-section {
    max-width: 100%;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-half__bottom {
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  .category-banner {
    display: none;
  }

  .category-main .product-item {
    width: 100/3%;
  }

  .brand-products {
    .product-item {
      width: 100/3%;
    }
  }
}

@media all and (max-width: 1024px) {
  .brands-slider {
    padding: 22px 0 22px;
  }

  .brands-slider-item {
    margin-bottom: 0;
  }

  .products-slider-container, .articles-slider-container, .brands-slider-container {
    width: 100%;
  }

  .articles-slider {
    overflow: hidden;
  }

  .up-btn {
    right: 30px;
    bottom: 30px;
  }

  .up-btn__svg {
    width: 30px;
    height: 30px;
  }

  .header-top {
    justify-content: center;
    padding: 1px 20px 2px;
  }

  .header-top__side {
    &:first-of-type {
      display: none;
    }
  }

  .header-logo__svg {
    width: 117px;
    height: 22px;
  }

  .header-bottom {
    height: 49px;
    padding: 0 20px 0 0;
  }

  .header-mobile-btn {
    display: flex;
    align-items: center;

    &.active {
      background: #fff;
      position: relative;

      &::after, &::before {
        content: "";
        width: 17px;
        height: 1px;
        background: @main-color;
        transform: rotate(45deg);
        left: 50%;
        margin-left: -8px;
        position: absolute;
      }

      &::after {
        transform: rotate(135deg);
      }

      .header-mobile-btn__ico {
        display: none;
      }
    }
  }

  .header-nav-wrap {
    width: 314px;
    position: fixed;
    left: -320px;
    top: 70px;
    bottom: 0;
    background: #fff;
    z-index: 11000;
    overflow-y: auto;
    padding: 54px 30px 30px;
    transition: left 0.3s;

    &.active {
      left: 0;
    }
  }

  .header-nav {
    flex-direction: column;
    margin: 0;
    align-items: stretch;
    padding-left: 30px;

    li {
      position: relative;
      background: url('data:image/svg+xml;utf8,<svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 6.99988L4 3.99988L1 0.999878" stroke="#07080C" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat 96% 50%;
    }

    a {
      color: @main-color;
      height: auto;
      text-align: center;
      padding: 15px 23px 15px 0;
      .fsz(13);
      border-bottom: 1px solid fade(@main-color, 20%);

      &:hover {
        border-bottom: 1px solid fade(@main-color, 20%);
      }
    }
  }

  .header-nav-mobile {
    display: block;
    margin-top: 20px;
    padding-left: 30px;

    li {

    }

    a {
      .fsz(10);
      text-transform: uppercase;
      font-weight: 500;
      color: @main-color;
      padding: 10px 0;
      display: block;

      &:hover {
        border: none;
      }
    }
  }

  .header-nav__img {
    fill: @main-color;
    position: absolute;
    left: -30px;
  }

  .main {
    margin-top: 70px;
  }

  .aside-filter {
    width: 100%;
    max-width: 360px;
    position: fixed;
    left: -365px;
    top: 70px;
    bottom: 0;
    background: #fff;
    z-index: 10500;
    overflow-y: auto;
    padding: 15px 20px 29px;
    transition: left 0.3s;

    &.active {
      left: 0;
    }
  }

  .aside-close {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
  }

  .main-top-filter, .breadcrumbs {
    display: none;
  }

  .back-btn {
    display: inline-block;
    font-family: Roboto, sans-serif;
    .fsz(10);
    .lh(14);
    font-weight: 300;

    &::before {
      content: "";
      padding-left: 13px;
      background: url("../images/breadcrumb-arrow-back.svg") 0 50% no-repeat;
    }
  }

  .mobile-filter {
    display: flex;
    max-width: 360px;
    margin-top: 11px;
  }

  .main-top-container {
    display: block;
  }

  .mobile-filter__result {
    padding: 0 12px;
    margin-right: 10px;
    border: 1px solid @main-color;
    flex: none;
    .fsz(10);
    font-weight: 300;
    color: @black17;
    height: 28px;
    .lh(28);
    cursor: pointer;

    strong {
      white-space: nowrap;
    }
  }

  .mobile-fast-filter {
    flex-grow: 1;
    border: 1px solid #C4C4C4;
    .fsz(10);
    font-weight: 300;
    height: 28px;

    .select2-container .select2-choice {
      .lh(28);
    }
  }

  .category {
    padding: 20px 0 0;
  }

  .main-top {
    padding: 15px 0;
  }

  h1 {
    .fsz(18);
  }

  h2 {
    .fsz(16);
  }

  h3 {
    .fsz(14);
  }

  h4 {
    .fsz(11);
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .brands {
    padding: 20px 0;
  }

  .product-slider-nav {
    display: none;
  }

  .product-container {
    display: block;
  }

  .product-sliders-wrap {
    height: auto;
    width: auto;
    max-width: 383px;
    margin: 0 auto;
  }

  .product-slider-big {
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
  }

  .product-sliders-sale {
    right: 0;
  }

  .product-slider-big__item {
    height: auto;
  }

  .product-panel-container {
    flex-direction: column;

    > * {
      order: 3;
    }
  }

  .product-panel-card-wrap {
    margin: 0 auto 20px;
    order: 1;
  }

  .product-panel-reviews-form {
    margin: 0 auto;
  }
}

@media all and (max-width: 768px) {
  .images-nav {
    flex-direction: column;
    min-height: 0;
  }

  .images-nav__big, .images-nav__double {
    width: 100%;
  }

  .images-nav__double {
    display: flex;
    flex-direction: row;
    min-width: 0;
  }

  .images-nav__double-title {
    padding: 0;
    .fsz(12);
    .lh(18);
  }

  .images-nav__big {
    min-height: 157px;
    display: block;
    padding: 20px 10px 10px 45%;
  }

  .images-nav__link {
    flex-basis: 50%;
    height: 102px;
    padding: 15px;
  }

  .images-nav__svg {
    width: 7px;
    height: 6px;
  }

  .images-nav__big-btn, .images-nav__big-subtitle {
    display: none;
  }

  .images-nav__big-title {
    .fsz(18);
    margin-bottom: 10px;

  }

  .images-nav__big-info {
    min-width: 0;
    width: auto;
    display: block;
    p {
      .fsz(12);
      line-height: normal;
      margin-bottom: 0;
    }
  }

  .products-slider {
    padding-top: 20px;
  }

  .product-slider__title, .product-item__title {
    .fsz(12);
    .lh(18);
  }

  .product-slider__price, .product-item__price {
    margin-top: 5px;

    span {
      .fsz(16);
    }
  }

  .product-slider__img, .product-item__img {
    height: 101px;
  }

  .products-slider-item, .product-item {
    padding-top: 41px;
    padding-bottom: 25px;
  }

  .product-slider__brand, .product-item__brand {
    margin-bottom: 0;
  }

  .footer {
    padding: 15px 5px 30px;
  }

  .category-main .product-item {
    width: 50%;
  }

  .product-tabs, .product-panel-container {
    display: none;
  }

  .product-panels {
    margin-top: 0;
  }

  .product-tab-mobile, .panel {
    display: block;
  }

  .product-tab-mobile {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 40px;
    .fsz(18);
    height: 53px;
    font-weight: bold;
    line-height: 52px;
    border-top: 1px solid #EDEDED;
    cursor: pointer;
    position: relative;

    &.active {
      border-bottom: 2px solid @red!important;

      &::after {
        transform: rotate(0);
      }
    }

    &::after {
      content: "";
      display: inline-block;
      height: 40px;
      width: 40px;
      background: url("../images/arrow-bottom.svg") 50% 50% no-repeat;
      background-size: 6px auto;
      position: absolute;
      transform: rotate(-90deg);
      top: 50%;
      right: 10px;
      margin-top: -20px;
      transition: 0.2s;
    }
  }

  .panel:first-of-type {
    .product-tab-mobile {
      border: none;
    }
  }

  .product-page-tabs {
    padding: 0;
  }

  .product-panel-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}